/*****
	Map 
*****/

.mapError {
    width: 100%;
    text-align: center;
}

.mapTopTable { 
    width: 100%;
    font-family: 'lucida grande',verdana,arial,sans-serif;
    font-size:11px;
    border: 1px solid #E5E5E5;
    background-color: #F4F4F4;
    border-left: 2px solid #DDDDDD;
    border-top: 2px solid #DDDDDD;
    border-right: 2px solid #DDDDDD;
    border-bottom: 2px solid #DDDDDD;
    border-radius: 6px 6px 6px 6px;
}

.mapTopTableNoSource {
    width: 100%;
    text-align: center;
    color: #ff6a00;
    font-size: 14px;
    height: 40px;
}

.mapMiddleTable {
    width: 100%;
    font-family: 'lucida grande',verdana,arial,sans-serif;
    border: 1px solid #E5E5E5;
    background-color: #f6f6f6;
    border-left: 5px solid #DDDDDD;
    border-right: 5px solid #DDDDDD;
    border-bottom: 5px solid #DDDDDD;
    border-radius: 0px 0px 6px 6px;
}

.mapHeaderMonth {
    text-align: right;
    color: #484A4D;
    font-size: 13px;
    font-weight: bold;
    width: 70%;
    border-left: 1px solid #DDDDDD;
    height: 36px;
}

.mapDivButtonY {
    display: block;
    border: 1px solid;
    border-color: #B3B3B3;
    background-color: #E0E0E0;
    width: 9em;
    height: 20px;
    font-size: 11px;
    color: #333;
    text-align: center;
    float: right;
    border-radius: 3px 3px 3px 3px;
    padding-top: 3px;
    margin-right: 5px;
    cursor: pointer;
}

.mapDivButtonM {
    display: block;
    border: 1px solid;
    border-color: #B3B3B3;
    background-color: #E0E0E0;
    cursor: pointer;
    width: 9em;
    height: 20px;
    font-size: 11px;
    color: #333;
    text-align: center;
    float: right;
    border-radius: 3px 3px 3px 3px;
    padding-top: 3px;
    margin-right: 5px;
}

.mapDivButtonB {
    display: block;
    border: 1px solid;
    border-color: #B3B3B3;
    background-color: #E0E0E0;
    cursor: pointer;
    width: 9em;
    height: 20px;
    font-size: 11px;
    color: #333;
    text-align: center;
    float: right;
    border-radius: 3px 3px 3px 3px;
    padding-top: 3px;
    margin-right: 5px;
}


.mapDivHeaderText {
    float: left;
    margin-left: 5px;
    padding-top: 2px;
}

.mapDays {
    color: #484A4D;
    font-size: 11px;
    line-height: 24px;
    text-align: center;
    -webkit-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
    float: left;
    border-left: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    display: inline-block;
    width: 2.7%;
    white-space: nowrap;
}

.mapGroup {
    color: #484A4D;
    width: 12%;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    -webkit-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
    border-top: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
}

.mapGroupHeader {
    color: #484A4D;
    width: 1%;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    -webkit-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
    border-top: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    text-align: center;
    background-color: #E9E9E9;
}

.mapGroupNone {
    width: 12%;
}

.mapGroupG1 {
    color: #484A4D;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    border-top: 1px solid #D9D9D9;
    border-right: 1px solid #DDDDDD;
    background-color: #E9E9E9;
    cursor: pointer;
}

.mapGroupG2 {
    color: #484A4D;
    text-align: center;
    font-size: 10px;
    border-top: 1px solid #DDDDDD;
    background-color: #F0F0F0;
    cursor: pointer;
}

.mapColHeader {
    color: #7A7A7A;
}

.mapGroupMonths {
    color: #484A4D;
    width: 6.3%;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    border-top: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    height: 22px;
    cursor: pointer;
}

.mapGroupMonthsDays {
    color: #484A4D;
    background-color: #ffffff;
    width: 6.3%;
    text-align: center;
    font-size: 10px;
    -webkit-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
    border-top: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    height: 22px;
}

.mapYear {
    text-align: left;
    color: #484A4D;
    font-size: 12px;
    font-weight: bold;
    -webkit-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
    height: 30px;
    width: 30%;
    padding-left: 10px;
}

.mapEmpty {
    width: 3.1%;
    border-right: 1px solid #DDDDDD;
    text-align: center;
    font-size: 12px;
    -webkit-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
    font-family: Tahoma, Geneva, sans-serif;
}

.mapHeaderEmpty {
    width: 3%;
}

.mapDaysTable {
    background-color: #ffffff;
    font-size: 11px;
    line-height: 24px;
    text-align: center;
    -webkit-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
    float: left;
    border-left: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    display: inline-block;
    width: 2.7%;
    white-space: nowrap;
    height: 22px;
}

/* default styles */
.mapRed {
    background-color: #F9C4E1;
    border-radius: 3px 3px 3px 3px;
    height: 18px;
    width: 80%;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    font-size: 11px;
    margin-left: auto;
    margin-right: auto;
    font-size: 11px;
    font-family: Century Gothic, sans-serif;
    padding-top: 1px;
    cursor: pointer;
}

.mapBlue {
    background-color: #D0E4FD;
    border-radius: 3px 3px 3px 3px;
    height: 18px;
    width: 80%;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    font-size: 11px;
    margin-left: auto;
    margin-right: auto;
    font-size: 11px;
    font-family: Century Gothic, sans-serif;
    padding-top: 1px;
    cursor: pointer;
}

.spanMonth {
    float: right;
    background-image: url(../images/expand.png);
    padding-left: 15px;
    display: inline-block;
    background-repeat: no-repeat;
    cursor: pointer;
    border: none;
}

.zoomMonthDay {
    text-align: center;
    border-top: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    width: 2.4%;
    white-space: nowrap;
    font-size: 11px;
    height: 23px;
    cursor: pointer;
}

.zoomMiddleMonthDay {
    background-color: #ffffff;
    text-align: center;
    border-top: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    width: 2.4%;
    white-space: nowrap;
    font-size: 11px;
    height: 23px;
}

.noData {
    height: 40px;
    text-align: center;
    font-size: 12px;
    color: #484A4D;
    border-top: 1px solid #DDDDDD;
}

.checkboxes {
    float: left;
}

.mapFiltersSpan12 {
    height: 40px;
    text-align: right;
}

.mapFiltersSpan2 {
    width: 30%;
}

.mapFilter {
    background: url(../images/loading_icon.gif) no-repeat top left;
    display: inline-block;
    -moz-background-size: contain;
    -o-background-size: contain;
    -webkit-background-size: contain;
    background-size: contain;
    height: 20px;
    width: 20px;
}

.mapZoomOn {
    padding-left: 20px;
    background: url(../images/zoom.png) no-repeat top left;
    display: inline-block;
    height: 20px;
    margin-top: 12px;
    border-radius: 2px 2px 2px 2px;
    font-size: 0;
    cursor: pointer;
}

.mapZoomOff {
    padding-left: 25px;
    background: url(../images/zoomout.png) no-repeat top left;
    display: inline-block;
    height: 20px;
    margin-top: 12px;
    border-radius: 2px 2px 2px 2px;
    font-size: 0;
    cursor: pointer;
}

.chartBarIcon {
    padding-left: 25px;
    background: url(../images/chart_bar.png) no-repeat top left;
    display: inline-block;
    height: 20px;
    margin-top: 12px;
    font-size: 0;
    cursor: pointer;
}

.searchBarIcon {
    padding-left: 25px;
    background: url(../images/search.png) no-repeat top left;
    display: inline-block;
    height: 20px;
    margin-top: 12px;
    font-size: 0;
    cursor: pointer;
}

.facebookBarIcon {
    padding-left: 25px;
    background: url(../images/facebook.png) no-repeat top left;
    display: inline-block;
    height: 20px;
    margin-top: 12px;
    font-size: 0;
    cursor: pointer;
}

.mapYHeaderMonth {
    text-align: left;
    background-color: #F1F1E7;
    border-top: 1px solid #DDDDDD;
    height: 25px;
}

.mapYearGroup {
    padding-left: 11px;
    background: url(../images/lessgroup.png) no-repeat top left;
    display: inline-block;
    height: 7px;
    font-size: 0;
    cursor: pointer;
    margin-left: 5px;
}

.mapYearUnGroup {
    padding-left: 11px;
    background: url(../images/plusgroup.png) no-repeat top left;
    display: inline-block;
    height: 7px;
    font-size: 0;
    cursor: pointer;
    margin-left: 5px;
}

.mapYearGroupHeader {
    font-size: 8px;
    font-weight: bold;
    font-family: 'lucida grande',verdana,arial,sans-serif;
    color: #1C7777;
}

.mapHouver {
    background-color: #9F9F9F;
    color: white;
}

.mapHouverbt {
    background-color: #E6E6B5;
}

.dialogMap {
    font-size: 13px;
}

.ui-dialog-titlebar {
    height: 17px;
    font-size: 13px;
    display:none;
}
.mapWeekends {
    font-size: 9px;
    font-family: Century Gothic, sans-serif;
    color: #B3B3B3;
    background-color: #FDFAFD;
    font-weight: bold;
}

.mapSum {
    font-size: 11px;
    font-weight: normal;
    color: #676767;
    font-style: italic;
}

.mapNoMonthDays {
    background-color: #F1F6F6;
    font-size: 10px;
    color: #CFCFCF;
    font-weight: bold;
    font-family: Century Gothic, sans-serif;
}

.mapToggleDays {
    background-color: #EDFDBA;
}

.mapHolidays {
    font-size: 10px;
    font-family: Century Gothic, sans-serif;
    color: #777777;
    font-weight: bold;
}

.mapFilterSelect {
    height: 150px;
    width: 100%;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 8pt !important;
    overflow: auto;
    border:none;
    -webkit-box-shadow: 0 5px 8px -3px #999999;
    box-shadow: 0 5px 8px -3px #999999;
}

.mapFilterTable {
    text-align: right;
    width: 40%;
}

.mapFilterTableM {
    text-align: right;
    width: 20%;
}

.mapFiltergroup {
    height: 30px;
    text-align: right;
    padding-left: 5px;
}

.mapBt {
    font-size: 9px !important;
    font-family: Century Gothic, sans-serif !important;
    color: #000000;
    height: 25px !important;
    margin-right: 2px;     
    background-color: #EAEAEA;  
}

.mapFilterAl {
    height: 30px;
    text-align: right;
    padding-right: 2px;
}

.mapTxt {
    height: 17px;
    width: 70%;
}

.ui-dialog, .ui-dialog, .ui-widget, .ui-widget-content, .foo, .ui-draggable, .ui-resizable {
    background: #F4F4F4 !important;
}

.map-filter-table {
    -webkit-box-shadow: 0 7px 5px -5px #BBBBBB;
    box-shadow: 0 7px 5px -5px #BBBBBB;
    border-left: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
}
